<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />

    <link rel="stylesheet" href="{{assets}}/css/main.css">
</head>
<body>

    {{>body}}

    <script src="{{bower_components}}/jquery/dist/jquery.min.js"></script>

    <!-- Foundation core -->
    <script src="{{assets}}/js/components/foundation/foundation.core.js"></script>

    <!-- Foundation plugin -->
    <script src="{{assets}}/js/components/foundation/foundation.reveal.js"></script>

    <!-- Foundation utility -->
    <script src="{{assets}}/js/components/foundation/foundation.util.keyboard.js"></script>
    <script src="{{assets}}/js/components/foundation/foundation.util.box.js"></script>
    <script src="{{assets}}/js/components/foundation/foundation.util.triggers.js"></script>
    <script src="{{assets}}/js/components/foundation/foundation.util.mediaQuery.js"></script>
    <script src="{{assets}}/js/components/foundation/foundation.util.motion.js"></script>







    <script src="{{assets}}/js/helper.js"></script>
    <script src="{{assets}}/js/plugins.js"></script>
    <script src="{{assets}}/js/main.js"></script>

    <!--[if lt IE 9]>
    <script src="{{bower_components}}/html5shiv/dist/html5shiv.min.js"></script>
    <script src="{{bower_components}}/selectivizr/selectivizr.js"></script>
    <script src="{{bower_components}}/respond/dest/respond.min.js"></script>
    <script src="{{bower_components}}/REM-unit-polyfill/js/rem.min.js"></script>
	<![endif]-->


</body>
</html>
